<div class="header">
    <h2>Новая подзадача</h2>
</div>
<div class="content">
    <form [formGroup]="taskCreationForm">
        <mat-form-field>
            <mat-label>Название</mat-label>
            <input formControlName="name" nameField="name" matInput placeholder="Введите название подзадачи" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Время выполнения</mat-label>
            <input formControlName="duration" nameField="duration" matInput placeholder="Укажите время выполнения" />
        </mat-form-field>
        <button matButton (click)="confirm()">Создать</button>
    </form>
</div>