<div class="header">
    <h4>Новая подзадача</h4>
</div>

<div class="content">
    <form [formGroup]="taskCreationForm">
        <mat-form-field class="small" appearance="outline">
            <mat-label>Название</mat-label>
            <input formControlName="title" nameField="title" matInput placeholder="Введите название подзадачи" />
        </mat-form-field>
        <mat-form-field class="small" appearance="outline">
            <mat-label>Время выполнения</mat-label>
            <input formControlName="duration" nameField="duration" matInput placeholder="Укажите время выполнения" />
        </mat-form-field>
        <button matButton (click)="confirm()" [disabled]="!taskCreationForm.valid">Создать</button>
    </form>
</div>